.example-card {
  max-width: 20%;
  max-height: 20%;
  background: #1b2c40;
  margin: 2%;
  display: inline-flex;
  flex-flow: row wrap;
}

.example-header-image {
  background-color: lightslategray;
  background-size: cover;
}

.company-card {
max-width: fit-content;
  max-height: fit-content;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  width: 100%; /* Adhere to container width. */
  display:block;
}
