.example-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.custom-card {
  background-color: slategray;
  font-size: 1.5em;
}

.custom-computer-list {
  display: block;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}
