<div *ngIf="computers" >
  <mat-toolbar class="toolbar">
  <span class="toolbar-element">

    {{ company.name }}

    &nbsp;
    &nbsp;

        <span class="toolbar-element">
    <button mat-raised-button color="accent" *ngIf='search_mod' (click)="reinitializeList()">Réinitialisation</button>
        </span>

    &nbsp;
    &nbsp;

    <mat-form-field >
      <input matInput placeholder="{{ 'SEARCH-BAR.SEARCH' | translate }}" [(ngModel)]="search">
    </mat-form-field>
    </span>
    <span class="toolbar-element">
  <button mat-raised-button color="accent" (click)="searchComputers()">Search</button>
</span>
    <span class="toolbar-element">
  <mat-paginator style="float: right;" [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageUpdate($event)">
  </mat-paginator>
    </span>
    <span class="fill-space"></span>
    <span class="toolbar-element">
  <button mat-raised-button color="accent" [routerLink]="['/company', company.id, 'update']">{{ 'SEARCH-BAR.UPDATE' | translate }}</button>
  </span>
  </mat-toolbar>

  <div class="computerList">
    <button mat-raised-button color="accent" [routerLink]="['/company', company.id, 'create']">+</button>
    <div  *ngFor="let computer of computers.results" class="custom-computer-display">
      <app-computers (deleteEvent)="delete($event)" [computer] = "computer"></app-computers>
    </div>
  </div>
</div>
