<div *ngIf="computers" >
  <mat-toolbar class="toolbar">
  <span class="toolbar-element">
     <span class="toolbar-element">
    <button mat-raised-button color="accent" *ngIf='search_mod' (click)="reinitializeList()">
      {{ 'SEARCH-BAR.RESET-SEARCH' | translate }}
      </button>
        </span>

    <mat-form-field >
      <input matInput placeholder="{{ 'SEARCH-BAR.SEARCH' | translate }}" [(ngModel)]="search">
    </mat-form-field>
    </span>
    <span class="toolbar-element">
  <button mat-raised-button color="accent" (click)="searchComputers()">{{ 'SEARCH-BAR.SEARCH' | translate }}</button>
</span>
    <span class="toolbar-element">
  <mat-paginator style="float: right;" [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageUpdate($event)">
  </mat-paginator>
    </span>
    <span class="fill-space"></span>
    <span class="toolbar-element">
  </span>
  </mat-toolbar>



  <div class="computerList">

    <div class="header">
      <img class="logo-header" *ngIf="display" [src]="company.logo" (error)="hideLogo()">
      <h2 class="company-name-header">{{company.name}}</h2>
    </div>
    <div *ngFor="let computer of computers.results" class="custom-computer-display" [@listAnimation]>
      <app-computers (deleteEvent)="delete($event)" [computer] = "computer"></app-computers>
    </div>
    <button mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
  </div>
</div>

