.example-container {
  display: -webkit-box;
  padding: 0%;
}

.searchBox {
  margin-left: 10%;
}

.custom-computer-display {
  margin-bottom: 1%;
}

.computerList {
  display: block;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}
