.searchBox {
  margin-left: 10%;
}

.custom-computer-display {
  margin-bottom: 1%;
}

.computerList {
  display: block;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

.container {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 10%;
}

.main-container {
  margin-bottom: 10%;
}

.toolbar {
  display: inline-flex;
  height: 10%;
  background: #006BA5;
}

.containerNavigator {
  display: inline-flex;
}

.mat-paginator {
  height: 1%;
  display: inline-flex;
}

.main-container{
  margin-left: 100px;
}

mat-paginator {
  background: #006BA5;
}

.fill-space {
  flex: 1 1 auto;
}

.toolbar-element {
  padding-right: 1%;
  padding-bottom: 1%;
}

.tile-header {
  font-family: "DejaVu Sans";
  background: black;
}

.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header {
  background: rgba(0,0,0,0.8);
}

.mat-grid-tile .mat-grid-tile-footer>*, .mat-grid-tile .mat-grid-tile-header>* {
  font-size: 18px;
}

.image-container {
  margin: 48px;
}

img {
  height: auto;
  width: 150px;
}

.toolbar-list {
  margin-bottom: 10px;
  padding: 0px;
  height: 150px;
  background: rgba(0,0,0,0);
}

.header {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.company-name-header {
  font-family: "Helvetica";
  font-size: 38px;
  color: white;
}

.logo-header {
  border-radius: 50%;
}
