<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="title"><h1 class="title">{{ 'SAVE-COMPANY.TITLE' | translate }}</h1></mat-card-title>
      <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="computerForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
          <input matInput placeholder="{{ 'SAVE-COMPANY.FIELD-NAME' | translate }}" formControlName="name">
          <mat-error>
            {{ 'SAVE-COMPANY.NAME-REQUIRED-ERROR' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Lancement" name="introduced" formControlName="introduced" (dateInput)="compareDates()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Arrêt" name="discontinued" formControlName="discontinued" (dateInput)="compareDates()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="year"></mat-datepicker>
        </mat-form-field>

        <div *ngIf="error.isError" class="alert alert-danger">
          {{ error.errorMessage }}
        </div>

        <button type="submit" class="button" mat-raised-button color="primary">{{ 'SAVE-COMPANY.BUTTON-SAVE' | translate }}</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
