<mat-expansion-panel *ngIf="computer">


  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ computer.name }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="editForm">

  <mat-card-content>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'COMPUTER-DETAIL.NAME' | translate }}" name="name" formControlName="name" value="{{ computer.name }}">
    </mat-form-field>

    &nbsp;

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="{{ 'COMPUTER-DETAIL.INTRODUCED' | translate }}" name="introduced" formControlName="introduced" value="{{ computer.introduced | date:'yyyy-MM-dd' }}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

    &nbsp;

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="{{ 'COMPUTER-DETAIL.DISCOUNTED' | translate }}" name="discontinued" formControlName="discontinued" [min]="computer.introduced | date:'yyyy-MM-dd'"  value="{{ computer.discontinued | date:'yyyy-MM-dd' }}">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year"></mat-datepicker>
    </mat-form-field>

    &nbsp;

    <button mat-raised-button color="primary" (click)="submit()">{{ 'COMPUTER-DETAIL.EDIT' | translate }}</button>

    <br/>

    <button mat-raised-button color="danger" (click)="remove()">
      {{ 'COMPUTER-DETAIL.DELETE' | translate }}
    </button>

  </mat-card-content>

  </form>

</mat-expansion-panel>
