.buttonList {
  margin-left: 1%;
  border-radius: 0%;
}

.fill-space {
  flex: 1 1 auto;
}

.content-row {
  background: #4482ba;
}

.header-divider {
  margin-bottom: 2%;
  border-top-width: 2px;
}

