  <div *ngIf="companies" >

  <mat-card class="example-container">
    <mat-form-field >
      <input matInput placeholder="Search" [(ngModel)]="search">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="searchCompany()">Search</button>
    <mat-paginator
      #paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="changePagination($event)">
    </mat-paginator>

    <button mat-button  color="primary" [routerLink]="['/company/create']">ADD</button>
  </mat-card>

  <mat-grid-list cols="2" class="main-contener">
    <app-company  *ngFor="let company of companies.results" [company]="company"></app-company>
  </mat-grid-list>

</div>
