.container {
  display: block;
  margin-left: 15%;
}

.containerNavigator {
  display: inline-flex;
}

.mat-paginator {
  height: 1%;
  display: inline-flex;
}

.main-contener{
  margin-left: 100px;
}
