.container {
  margin: 2%;
}

.toolbar {
  display: inline-flex;
  height: 10%;
  margin: 0%;
  background: #006BA5;
}

.containerNavigator {
  display: inline-flex;
}

.mat-paginator {
  height: 1%;
  display: inline-flex;
}

mat-paginator {
  background: #006BA5;
}

.main-container{
  margin-left: 100px;
}

.toolbar-element {
  padding-right: 1%;
  padding-bottom: 1%;
  font-size: 14px;
  line-height: 36px;
}

mat-grid-tile {
  border-radius: 1%;
  background: white;
}

.button-visibility {
  border-radius: 5%;
}

.fill-space {
  flex: 1 1 auto;
}

img {
  height: auto;
  width: 100%;
  display:block;
}

.tile-header {
  font-family: "Helvetica";

}

.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header {
  background: #4482ba;
}


.mat-grid-tile .mat-grid-tile-footer>*, .mat-grid-tile .mat-grid-tile-header>* {
  font-size: 18px;
}

.image-container {
  margin: 48px;
}
.list-container{
  margin: 10%;
  margin-top: 2%;
}
.buttonList {
  margin-left: 1%;
}

.mat-subheader {
  font-size: 36px;
  margin-bottom: 5%;
}
