<mat-toolbar class="toolbar">
  <span class="toolbar-element">
  <mat-form-field >
    <input matInput placeholder="{{ 'SEARCH-BAR.SEARCH' | translate }}" [(ngModel)]="search">
  </mat-form-field>
    </span>
  <span class="toolbar-element">
  <button mat-raised-button color="accent" (click)="searchCompany()">{{ 'SEARCH-BAR.SEARCH' | translate }}</button>
  </span>
  <span class="toolbar-element">
  <mat-paginator class="mat-paginator"
                 #paginator
                 [length]="length"
                 pageSize="12"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="changePagination($event)">
  </mat-paginator>
  </span>
  <mat-icon>view_module</mat-icon>
  <mat-slide-toggle [(ngModel)]="checked">
  </mat-slide-toggle>
  <mat-icon>view_headline</mat-icon>
  <span class="fill-space"></span>
  <span class="toolbar-element">
  <button mat-raised-button color="accent" [routerLink]="['/company/create']">{{ 'SEARCH-BAR.ADD' | translate }}</button>
  </span>
</mat-toolbar>

<div *ngIf="companies" class="container">
  <mat-grid-list cols="4" [gutterSize]=20 *ngIf="!checked">
    <mat-grid-tile *ngFor="let company of companies.results" @companyAnim>
      <mat-grid-tile-header  class="tile-header">
        <span class="text-tile-header" [routerLink]="['/company',company.id]">{{company.name}}</span>
        <span class="fill-space"></span>
        <button mat-icon-button color="warn" (click)="deleteCompany(company)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-grid-tile-header>
      <div class="image-container" [routerLink]="['/company',company.id]">
        <img [src]="company.logo" onerror="this.src='https://www.freeiconspng.com/uploads/no-image-icon-15.png'" >
      </div>
      <mat-grid-tile-footer>
        <span class="fill-space"></span>
        <button class="button-visibility" mat-raised-button color="accent" [routerLink]="['/company',company.id]" >
          <mat-icon>visibility</mat-icon>
      </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-list class="list-container" *ngIf="checked">
    <h3 mat-subheader >Companies</h3>
    <mat-list-item *ngFor="let company of companies.results;" @companyAnim>
      <img matListAvatar [src]="company.logo" [routerLink]="['/company',company.id]" alt="company.name" onerror="this.src='https://www.freeiconspng.com/uploads/no-image-icon-15.png'">
      <h3 matLine> {{company.name}} </h3>
      <span class="fill-space"></span>
      <button mat-mini-fab color="accent" [routerLink]="['/company',this.company.id]" class="buttonList">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deleteCompany(company)" class="buttonList">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>



