<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ 'SIGN-UP.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-error class="error" *ngIf="!validUsername">
      {{ 'SIGN-UP.EXISTING-USERNAME' | translate }}
    </mat-error>
    <form [formGroup]="signupForm" (submit)="signUp()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="{{ 'SIGN-UP.USERNAME' | translate }}" formControlName="username">
        <mat-error>
          {{ 'SIGN-UP.USERNAME-ERROR-MESSAGE' | translate }}
        </mat-error>
      </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{ 'SIGN-UP.PASSWORD' | translate }}" type="password" formControlName="password">
          <mat-error>
            {{ 'SIGN-UP.PASSWORD-ERROR-MESSAGE' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{ 'SIGN-UP.PASSWORD-CONFIRMATION' | translate }}" type="password" formControlName="confirm_password">
          <mat-error>
            {{ 'SIGN-UP.PASSWORD-CONFIRMATION-ERROR-MESSAGE' | translate }}
          </mat-error>
        </mat-form-field>
      <mat-card-actions>
        <span class="fill-space"></span>
        <button type="submit" mat-raised-button color="primary" [disabled]="!signupForm.valid || errorPassword">{{ 'SIGN-UP.SIGN-UP' | translate }}</button>
        <button type="button" class="button" (click)="goBack()" mat-raised-button color="accent">{{ 'SAVE-COMPANY.GO-BACK' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
