<div class="container" *ngIf="company">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="title"><h1 class="title">Modifier une entreprise</h1></mat-card-title>
      <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="companyForm" (ngSubmit)="update()">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom" formControlName="name">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="URL de l'image" formControlName="logo" (change)="displayLogo()">
        </mat-form-field>
        <img *ngIf="display" mat-card-image [src]="companyForm.value.logo" (error)="hideLogo()">
        <button type="submit" class="button" mat-raised-button color="primary">Modifier</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
